---
import { Image } from 'astro:assets';

const { index, feature } = Astro.props;
---

{
  feature && (
    <li
      class={`flex flex-col md:border-l border-border p-10 px-16 w-full gap-8 border-b ${index === 0 ? 'md:border-l-0' : ''}`}
    >
      <Image src={feature.img} alt={feature.title} />
      <div class="flex justify-between">
        <div class="flex flex-col gap-2">
          <h1 class="text-title">{feature.title}</h1>
          <p class="text-desc">{feature.subtitle}</p>
        </div>
        <button>
          <Image src={feature.btn} alt={feature.subtitle} />
        </button>
      </div>
      <p class="text-desc">{feature.description}</p>
    </li>
  )
}
