---
import { Image } from "astro:assets";
import star from "../../../assets/star.svg";
import vector2 from "../../../assets/vector2.svg";

import { avatarsData } from "../../../constants/reader-section";
---

<div class="flex flex-col w-full">
  <div
    class="flex flex-col md:flex-row lg:flex-row w-full bg-card md:justify-between md:items-center border-y border-border gap-[30px] py-[40px] px-[16px] md:p-[70px]"
  >
    <div class="flex flex-col gap-[10px] ">
      <p
        class="text-title py-[4px] px-[8px] rounded-md bg-button max-w-[170px] font-inter text-sm"
      >
        What Our Readers Say
      </p>
      <h1 class="text-3xl text-title font-kumbh-sans">
        Real Words from Real Readers
      </h1>
    </div>
    <button
      class="flex bg-background text-desc py-[14px] px-[20px] gap-[4px] border rounded-md border-border font-inter justify-center"
    >
      View All Testimonials
      <Image src={vector2} alt="vector2" class="mt-[6px] w-[13.75px]" />
    </button>
  </div>
  <div class="flex flex-col font-inter">
    {
      avatarsData.map((row, rowIndex) => (
        <div
          class={`md:flex flex-col md:flex-row px-[20px] gap-[20px] md:gap-[50px] md:border-b border-border ${
            rowIndex === 1 ? "hidden" : "flex"
          }`}
        >
          {row.map((avatar, columnIndex) => (
            <div
              class={`flex flex-col gap-[20px] items-center border-b border-border ${columnIndex !== row.length - 1 ? "md:border-r border-border md:pr-[50px]" : ""}`}
            >
              <ul class="flex flex-col py-[40px] md:py-[80px] gap-[40px] justify-center items-center">
                <li class="flex gap-[12px] items-center">
                  <Image src={avatar.image} alt={`avatar-${avatar.id}`} />
                  <div class="flex flex-col gap-[2px]">
                    <h1 class="text-title">{avatar.name}</h1>
                    <p class="text-secondary">{avatar.location}</p>
                  </div>
                </li>
                <li class="w-full relative flex flex-col justify-center items-center bg-card p-[20px] pt-[30px] md:py-[20px] md:px-[60px] border rounded-md border-border">
                  <div class="absolute -top-5 left-1/2 transform -translate-x-1/2 flex py-[10px] px-[16px] gap-[7px] border rounded-full border-border bg-background">
                    {/* renders star images with based on the number of stars provided in avatars data */}
                    {Array.from({ length: avatar.stars }).map(
                      (_, starIndex) => (
                        <Image src={star} alt={`star-${starIndex}`} />
                      )
                    )}
                  </div>
                  <div class="text-title text-sm text-center mt-[30px] max-w-lg">
                    {avatar.text}
                  </div>
                </li>
              </ul>
            </div>
          ))}
        </div>
      ))
    }
  </div>
</div>
